
GoogleMapProject/.classpath

*.prefs

*.class


*.txt

*.cache

GoogleMapProject/gen/com/facebook/android/R.java

GoogleMapProject/gen/com/google/android/gms/R.java

GoogleMapProject/gen/il/ac/shenkar/cadan/BuildConfig.java

GoogleMapProject/gen/il/ac/shenkar/cadan/Manifest.java

GoogleMapProject/gen/il/ac/shenkar/cadan/R.java

*.jar

*.ap_

*.dex

*.apk


GoogleMapProject/project.properties
